include header 


div(class='container cards-gallery')

    
    div(class='card mb-3 admin-card')
        div(class='row g-0 card-content')
            div(class="col-md-4 admin-img-container")
                img(src="./images/nnwrbl_sweetshot.jpeg" class="img-fluid admin-img rounded-start" alt="sweetshot")
            div(class="col-md-8")
                div(class="card-body")
                    h5(class="card-title") TEXT
                    p(class="card-text") 
                        |  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia at nam qui architecto, tempore facere nihil sunt nesciunt consectetur assumenda. Repellendus dolores debitis aut impedit, explicabo culpa quae eum? Veniam commodi at aliquam corrupti maiores tempore dolore fugiat reiciendis ipsum explicabo! Possimus saepe atque ducimus fuga libero exercitationem, magnam qui perspiciatis molestias aperiam. Earum, similique sint totam modi magnam excepturi iure neque, eos ipsa quae accusamus provident quaerat repudiandae maxime perferendis error perspiciatis quam quidem ut praesentium corporis odio aspernatur. Quam dicta enim voluptas voluptatibus nisi dolor saepe voluptatem aperiam temporibus? Necessitatibus temporibus eos tempora sapiente sed, officiis delectus non.
                    p(class="card-text")
                        small(class="text-muted") Last updated 3 mins ago
    
    div(class='card mb-3 admin-card')
        div(class='row g-0')
            div(class="col-md-4 admin-img-container")
                img(src="./images/nnwrbl_hoodie.jpeg" class="img-fluid admin-img rounded-start" alt="hoodie")
            div(class="col-md-8")
                div(class="card-body")
                    h5(class="card-title") TEXT
                    p(class="card-text") This
                        |  Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati numquam, itaque eum laudantium modi architecto dolorem deserunt, cum blanditiis at error consectetur magnam facere quidem quae. Quae ad blanditiis amet similique nobis, sunt beatae unde adipisci dolore harum consectetur voluptate, totam eum ipsum iusto veniam architecto eaque neque quisquam nostrum cupiditate rem accusamus, non corporis. Hic voluptatibus molestias officia rerum. Distinctio vero tempora eligendi, autem cumque odit explicabo sit fugiat.
                    p(class="card-text")
                        small(class="text-muted") Last updated 3 mins ago