include headerModule

div(class='container')
    h1 ADMIN PANEL
    ul
        li
            a(href='/main' target='_blank') Перейти в магазин
        li  
            a(href='/admin/orders') Заказы
        li
            a(href='/admin/goods') Товары
