include header 


div(class='container-fluid')
    div(class='row')
        div(class='admin-btns')
            a(href="/admin" class='btn btn-primary') Назад <- 

        div(class='cards-gallery')
            each val,index in goods
                div(class='card mb-3 admin-card')
                    div(class='row g-0 card-content')
                        div(class="col-sm-4 admin-img-container")
                            img(src='./images/'+val['image'] class="img-fluid admin-img rounded" alt="sweetshot")
                        div(class="col-md-8")
                            div(class="card-body")
                                h5(class="card-title admin-title")= val['name']    
                                p(class="card-text admin-description")= val['description']
                                span(class="card-text") Цена - &nbsp;
                                    b #{val['cost']} 
                                span(class="card-text") ID - &nbsp;
                                    b #{val['id']}  