include header 

include navigationHeader

div(class='container')
    p
      strong Уважаемый, покупатель!
      br
      | Пожалуйста, перед покупкой товара внимательно прочитайте Пользовательское соглашение с Интернет-магазином nnwrbl
    p
      | Настоящий текст является Пользовательским соглашением между Интернет-магазином nnwrbl именуемым в дальнейшем "Интернет-магазин", и пользователем услуг Интернет-магазина, именуемым в дальнейшем «Покупатель» и определяет условия приобретения товаров через сайт Интернет-магазина.
    p
      strong 1. Основные положения
      br
      | 1.1. Настоящее Соглашение заключается между Покупателем и Интернет-магазином в момент оформления заказа.
      br
      | 1.2. Информация, размещённая на сайте Интернет-магазина, содержит условия предложения покупки товара и представляет собой публичную оферту, статус которого закреплен ст.633 Гражданского кодекса Украины (ГКУ). Акцептом является факт оформления заказа на предложенный товар.
      br
      | 1.3. При оформлении заказа Покупатель соглашается с условиями, оговоренными настоящим Соглашением, путем проставления отметки в графе "Я прочитал и согласен с правилами Пользовательского соглашения" при оформлении заказа.
      br
      | 1.4. Совершить покупку в Интернет-магазине может любое физическое или юридическое лицо, способное принять и оплатить товар.
      br
      | 1.5. Товар оплачивается в национальной валюте Украины при доставке товара или безналичным банковским переводом.
    p
      strong 2. Информация о товарах
      br
      | 2.1. Товар представлен в каталоге через фото-образцы, являющиеся собственностью Интернет-магазина.
      br
      | 2.2. Каждый фото-образец сопровождается текстовой информацией: артикулом, ценой и описанием товара.
      br
      | 2.3. По просьбе Покупателя менеджер Интернет-магазина обязан предоставить (по телефону или посредством электронной почты) дополнительную информацию, необходимую и достаточную, с точки зрения Покупателя, для принятия им решения о покупке товара.
      br
      | 2.4. Указанная на сайте цена товара может быть изменена Интернет-магазином в одностороннем порядке.
      br
      | 2.5. В случае изменения цены товара, заказанного Покупателем, менеджер Интернет-магазина при первой возможности информирует об этом Покупателя (по телефону или посредством электронной почты) для получения подтверждения либо аннулирования заказа. При невозможности связаться с Покупателем данный заказ считается аннулированным.
    p
      strong 3. Порядок приобретения товара в интернет-магазинe
      br
      | 3.1. Заказы принимаются через Интернет-магазин и официальные страницы в социальных сетях.
      br
      | 3.2. Покупатель Интернет-магазина имеет право оформить заказ на любой товар, представленный на сайте Интернет-магазина и имеющийся в наличии. Каждый товар    может быть заказан в любом количестве. Заказ может быть оформлен Покупателем следующими способами: сделан по телефону, по электронной почте или оформлен самостоятельно на сайте.
    p
      | 3.3. При отсутствии товара на складе, менеджер компании обязан поставить Покупателя в известность (по телефону или через электронную почту).
      br
      | 3.4. При отсутствии товара Покупатель вправе заменить его товаром аналогичной модели, отказаться от данного товара, аннулировать заказ.
      br
      | 3.5. Покупатель вправе отказаться от заказа в любое время до момента его отправки Покупателю, поставив в известность Интернет-магазин по телефону или через cоц. сети.
    p
      strong 4. Доставка и передача товара Покупателю
      br
      | 4.1. Доставка товара, приобретенного в Интернет-магазине, осуществляется курьерскими службами или Укрпочтой.
      br
      | 4.2 Отправка заказанного товара производится в течение 2-х рабочих дней со дня подтверждения заказа Покупателем. Суббота, воскресенье и официально признанные праздники не входят в число рабочих дней.
      br
      | 4.3. Вместе с заказом Покупателю предоставляются следующие документы:
      br
      | товарный чек или расходная накладная, транспортная накладная (выдается курьерской службой при доставке).
      br
      | 4.4. Покупатель обязан в присутствии курьера или пункте выдачи произвести приемку заказанного товара по количеству, качеству, ассортименту и комплектности товара.
      br
      | 4.5. Фактом приемки товара Покупателем является оплата товара Покупателем.
      br
      | 4.6. При отказе Покупателя от заказа в момент доставки, Покупателем оплачиваются расходы Интернет-магазина на доставку заказа.
      br
      | 4.6. Покупатель не обязан компенсировать расходы Интернет-магазина связанные с доставкой заказа, если в процессе приемки товара обнаружится, что поставлен товар ненадлежащего качества, количества, ассортимента или комплектности.
    p
      strong 5. Оплата заказа
      br
      | 5.1. Заказ, сделанный в Интернет-магазине, оплачивается Покупателем путем банковского перевода или передачи наличных денег курьерской службой.
      br
      | 5.2. Оплата заказа по безналичному расчету должна быть сделана Покупателем путем 100% авансового перечисления средств на расчетный счет Интернет-магазина в течение двух рабочих дней со дня подтверждения заказа.
      br
      | 5.3. При не поступлении денежных средств, интернет-магазин оставляет за собой право аннулировать заказ.
    p
      strong 6. Порядок возврата товара надлежащего качества
      br
      | 6.1. Покупатель вправе отказаться от поставленного товара в момент получения от курьера или в пункте выдачи.
      br
      | 6.2. Возврат товара в Интернет-магазин возможен в случае, если сохранены его товарный вид, потребительские свойства, оригинальная фабричная упаковка, бирка прикрепленная к товару ниткой с пломбой производителя, товарный чек или расходная накладная, транспортная накладная.
      br
      | 6.3. Возврат товара в Интернет-магазин производится за счет Покупателя.
      br
      | 6.4. При возврате Покупателем товара надлежащего качества, Интернет-магазин возвращает ему уплаченную за товар денежную сумму по факту возврата товара за вычетом компенсации расходов магазина связанных с доставкой товара Покупателю.
    p
      strong
        | 7. Порядок возврата товара, приобретенного через интернет магазин, при обнаружении скрытого брака, гарантийное обслуживание
      br
      | 7.1. На товары, приобретенные в Интернет-магазине установлен пожизненный гарантийный срок. В течение которого, в случае обнаружения в товаре скрытого брака, Покупатель имеет право на безвозмездное устранение недостатков, соразмерное уменьшение покупной цены, замены на товар аналогичной модели, на любой другой с соответствующим перерасчетом покупной цены, возврата товара и получения за него денег, в установленном Законом Украины "О защите прав потребителей" порядке.
      br
      | 7.2. Возврат товара в Интернет-магазин производится за счет Покупателя.
    p
      strong 8. Прочее
      br
      | 8.1. Интернет-магазин оставляет за собой право расширять и сокращать товарное предложение на Сайте, регулировать доступ к покупке любых товаров, а также приостановить или прекратить продажу любых товаров по своему собственному усмотрению.
      br
      | 8.2. Настоящее Соглашение должно рассматриваться в том виде, как оно опубликовано на Сайте, и должно применяться и толковаться в соответствии с законодательством Украины.
