div(class='main-card '+val['data_type'])
    img(class='bg-img' src='/images/'+val['image'] alt='фото товара')
    div(class='main-card-content')
        a(href='/main/category/goods?id='+val['id'] class='card-link')
            h2(class='title')= val['name']
            p #{val['cost']}₴
        button(
        data-goods_id= val['id']
        class="button-card add-to-cart"
            ) Добавить в корзину



