include header 

include navigationHeader

div(class='wrapper')
    div(class='container-lg main-content')
        h1= category[0]['category']
        div(class='col-lg-12')
            div(class='cards-container')
                each val,index in goods ? goods : ['There is no value']
                    include cards
        div= category[0]['description']

include footer