include header 

include navigationHeader

div(class='container-lg')

    h1 name of category
    div(class='col-lg-12')
        div(class='cards-container')
            each val,index in goods ? goods : ['There is no value']
                include cards
    div= category[0]['description']

    include footer