div(class='container-fluid footer')
    div(class='container')
        div(class='row')
            div(class='col-md-12')
                p All rights reserved

    //- nav script
    script(src="js/nav.js") 
    //- cart script
    script(src="js/cart.js") 
    //- order script
    script(src="js/order.js") 
    //- add sweealert script for orderPage
    script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")