footer(class='container-fluid footer')
    div(class='container-footer')
        div(class='footer-brand')
            h4 N N W R B L
            p Все права защищены
        a(href='https://www.instagram.com/nnwrbl/' target='blank_' class='links')
            i(class="bi bi-instagram")

    // nav script
    script(src="js/nav.js") 

    // cart script
    script(src="js/cart.js")
