include header 

include navigationHeader

div(class='wrapper')
    div(class='wrap main-content')
        include mainContent
        div(class='container-lg second-page')
            div(class='container item-content')
                div(class='item-description')    
                    h2(class='main-title') Вам может понравиться
                    hr(class='content-line-second')
            div(class='col col-lg-12')
                include mainSlider
                include smallDevice       
    script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js")
    script(src="js/main.js")
include footer 