header  
    div(class='container-fluid bg-warning sticky-top')
        div(class='container')
            div(class='row')
                div(class='col col-md-1 text-center')
                    button(class=' btn show-nav')
                        h4(class='site-burger')
                            li(class="bi bi-list")
                div(class='col col-md-11')
                    a(href='/' class='header-name')
                        h2(class='site-name text-danger') shopname
