include orderHeader

div(class='container-fluid')
    div(class='container')
        div(class='row')
            h1 submit form
            div(class='form-space')
                div(id='cart-nav')
                form(class='row g-3 needs-validation' novalidate)
                    div(class='col-md-12')
                        label(for='name' class='form-label') Имя
                        input(type='text' class='form-control' id='name' value='Andrey' placeholder='Имя' required)
                        div(class="invalid-feedback") Пожалуйста, укажите корректно имя!
                    div(class='col-md-12')
                        label(for="secondName" class="form-label") Фамилия
                        input(type="text" class="form-control" id="secondName" value='Andrey' placeholder='Фамилия'  required)
                        div(class="invalid-feedback") Пожалуйста, укажите корректно фамилию!
                    div(class="col-md-12")
                        label(for="phoneNumber" class="form-label") Номер телефона
                        input(type="tel" maxlength='12' class="form-control" id="phoneNumber" value='1230981203' placeholder='380(50)000-00-00' required)
                        div(class="invalid-feedback") Пожалуйста, укажите корректно номер телефона!
                    div(class="col-md-12")
                        label(for="city" class="form-label") Город
                        input(type="text" class="form-control" id="city" value='Andrey' placeholder='Населенный пункт' required)
                        div(class="invalid-feedback") Введите корректно ваш населённый пункт!
                    div(class="col-md-12")
                        label(for="state" class="form-label") Область
                        select(class="form-select" id="state" required)
                            option(selected disabled value='') Выберите область
                            option(value='Kharkiv') Kharkiv
                            option Kyiv 
                            option Nikolaev
                            option Kherson
                            option Mariupol
                            option Poltava
                        div(class="invalid-feedback") Пожалуйста, укажите корректно область!
                    div(class="col-md-12")
                        label(for="zip" class="form-label") Индекс
                        input(type="number" minlength='6' maxlength='6' class="form-control" value='123123' id="zip" placeholder='Индекс населенного пункта' required)
                        div(class="invalid-feedback") Пожалуйста, укажите корректно индекс!
                    div(class="col-12")
                        div(class='form-check')
                            input(class="form-check-input terms" type="checkbox" id="invalidCheck" required)
                            label(class="form-check-label" for="invalidCheck") Agree to terms and conditions
                            div(class="invalid-feedback") You must agree before submitting.
                    div(class="col-12")
                        button(class="btn btn-primary" type="submit") Submit form
    include footer