include header

header 
    div(class='container-fluid bg-warning sticky-top')
        div(class='container')
            div(class='row')
                div(class='col col-md-1')
                div(class='col col-md-11')
                    a(href='/' class='header-name')
                        h2(class='site-name text-danger') shopname