/* =========== general params =========== */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.row {
  margin: 0;
}

.site-burger li {
  list-style-type: none;
}

/* =========== cards =========== */

.img {
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  padding: 20px;
}

.cards {
  height: 500px;
  margin: 0;
  display: inline-block;
}

.card-text {
  height: 150px;
  overflow: scroll;
}

/* =========== navigation =========== */

.site-nav {
  width: 300px;
  min-height: 100vh;
  position: fixed;
  left: -300px;
  top: 45px;
  z-index: 999;
  padding: 10px;
  transition: all ease 1s;
  color: white;
}

.close-btn-div {
  text-align: right;
}

.show-nav {
  position: relative;
}

ul.category-list {
  list-style-type: disc;
}

ul.category-list a {
  color: grey;
}

/* =========== order form =========== */

.form-space {
  width: 800px;
  margin: 0 auto;
}

.terms-link {
  text-decoration: underline;
}

/* =========== admin =========== */

/* =========== admin table =========== */
.admin-table {
  text-align: center;
}

.admin-btns button,
.admin-btns a {
  display: block;
  width: 150px;
  border: 1px solid black;
}

.admin-btns {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

/* =========== admin goods =========== */
.cards-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.admin-card {
  height: auto;
  width: 600px;
  margin: 10px;
}

.admin-img {
  max-width: 102%;
  height: auto;
}

.admin-title {
  white-space: nowrap;
  overflow: scroll;
}

span b {
  color: red;
}

.card-head {
  display: flex;
  justify-content: space-between;
}

.card-head h5 {
  width: 250px;
}

.card-head a {
  color: blue;
}

/* =========== admin add new items =========== */

.content h3 {
  text-align: center;
}

.card-holder {
  margin: 50px auto 0 auto;
  width: 700px;
  height: 375px;
  border: 1px solid black;
  overflow: scroll;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-img {
  border: 1px solid black;
  width: 300px;
  height: 375px;
  overflow: hidden;
}

.card-description {
  width: 395px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
}

@media (max-width: 1199px) {
  /* =========== admin goods =========== */
  .admin-card {
    min-height: 620px;
    width: 300px;
    margin: 10px;
  }

  .admin-img {
    max-width: 300px;
    height: auto;
  }

  .card-body {
    width: 300px;
  }
}

@media (max-width: 375px) {
  /* =========== admin goods =========== */
  .admin-card {
    min-height: 620px;
    width: 250px;
    margin: 10px;
  }

  .admin-img {
    max-width: 248px;
    height: auto;
  }
}
