/* =========== general params =========== */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.category-link {
  color: black;
}

.row {
  margin: 0;
}

.site-burger li {
  list-style-type: none;
}

/* =========== background =========== */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #E0EAFC, #e9e4f0);
  background-size: 200% 200%;
  animation: gradient 6s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* =========== cards =========== */

.img {
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  padding: 20px;
}

.cards {
  height: 500px;
  margin: 0;
  display: inline-block;
}

.card-text {
  height: 150px;
  overflow: scroll;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

.cards-container {
  place-items: center;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}
@media (min-width: 630px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 925px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.main-card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .main-card {
    height: 350px;
  }
}

.main-card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.main-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
  height: 100%;
  overflow: scroll;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.copy {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.35;
}
.button-card {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.button-card:hover {
  background-color: #0d0d0d;
}
.button-card:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}
@media (hover: hover) and (min-width: 600px) {
  .main-card:after {
    transform: translateY(0);
  }
  .main-card-content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .main-card-content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .main-card:hover,
  .main-card:focus-within {
    align-items: center;
  }
  .main-card:hover:before,
  .main-card:focus-within:before {
    transform: translateY(-4%);
  }
  .main-card:hover:after,
  .main-card:focus-within:after {
    transform: translateY(-50%);
  }
  .main-card:hover .main-card-content,
  .main-card:focus-within .main-card-content {
    transform: translateY(0);
  }
  .main-card:hover .main-card-content > *:not(.title),
  .main-card:focus-within .main-card-content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .main-card:focus-within:before,
  .main-card:focus-within:after,
  .main-card:focus-within .main-card-content,
  .main-card:focus-within .main-card-content > *:not(.title) {
    transition-duration: 0s;
  }
}

.bg-img {
  position: absolute;
  align-items: center;
  width: 110%;
  height: auto;
  left: 0;
  top: 0;
}

/* =========== navigation =========== */

.site-nav {
  width: 300px;
  min-height: 100vh;
  position: fixed;
  left: -300px;
  top: 45px;
  z-index: 999;
  padding: 10px;
  transition: all ease 1s;
  color: white;
}

.close-btn-div {
  text-align: right;
}

.show-nav {
  position: relative;
}

ul.category-list {
  list-style-type: disc;
}

ul.category-list a {
  color: grey;
}

/* =========== order form =========== */

.form-space {
  width: 800px;
  margin: 0 auto;
}

.terms-link {
  text-decoration: underline;
}

/* =========== admin =========== */

/* =========== admin table =========== */
.admin-table {
  text-align: center;
}

.admin-btns button,
.admin-btns a {
  display: block;
  width: 150px;
  border: 1px solid black;
}

.admin-btns {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

/* =========== admin goods =========== */
.cards-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.admin-card {
  height: auto;
  width: 600px;
  margin: 10px;
}

.admin-img {
  max-width: 102%;
  height: auto;
}

.admin-title {
  white-space: nowrap;
  overflow: scroll;
}

span b {
  color: red;
}

.card-head {
  display: flex;
  justify-content: space-between;
}

.card-head h5 {
  width: 250px;
}

.card-head a {
  color: blue;
}

/* =========== admin add new items =========== */

.content h3 {
  text-align: center;
}

.card-holder {
  margin: 50px auto 0 auto;
  width: 700px;
  height: 375px;
  border: 1px solid black;
  overflow: scroll;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-img {
  border: 1px solid black;
  width: 300px;
  height: 375px;
  overflow: hidden;
}

.card-description {
  width: 395px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
}

@media (max-width: 1199px) {
  /* =========== admin goods =========== */
  .admin-card {
    min-height: 620px;
    width: 300px;
    margin: 10px;
  }

  .admin-img {
    max-width: 300px;
    height: auto;
  }

  .card-body {
    width: 300px;
  }
}

@media (max-width: 375px) {
  /* =========== admin goods =========== */
  .admin-card {
    min-height: 620px;
    width: 250px;
    margin: 10px;
  }

  .admin-img {
    max-width: 248px;
    height: auto;
  }
}
