/* =========== general params =========== */
@font-face {
  font-family: "CormorantGaramond";
  src: url(../fonts/CormorantGaramond-Regular.ttf);
}

* {
  font-family: "Roboto", sans-serif;
}

.category-title {
  color: #bcbcbc;
  font-weight: lighter;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.category-link {
  color: black;
}

.row {
  margin: 0;
}

.site-burger li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  height: 85%;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  background-color: #f8f8f8;
}

.container-fluid {
  padding: 0;
}
/* =========== cards =========== */

.cards {
  height: 500px;
  margin: 0;
  display: inline-block;
}

.card-text {
  height: 150px;
  overflow: scroll;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

.cards-container {
  place-items: center;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}

.main-card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  overflow-x: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

.main-card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.main-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
  height: 70%;
  overflow: scroll;
}

.card-link {
  color: white;
}

.card-link:hover {
  color: white;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.copy {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.35;
}
.button-card {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.button-card:hover {
  background-color: #0d0d0d;
}
.button-card:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

.bg-img {
  position: absolute;
  align-items: center;
  width: 110%;
  height: auto;
  left: 0;
  top: 0;
}

@media (max-width: 1200px) {
  .bg-img {
    position: absolute;
    align-items: center;
    width: 120%;
    height: auto;
    left: -15px;
    top: 0;
  }
}

@media (min-width: 0px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .main-card {
    height: 260px;
  }
}

@media (min-width: 350px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }

  .main-card {
    min-height: 280px;
  }
}

@media (min-width: 650px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .main-card {
    height: 350px;
  }
}

@media (min-width: 750px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .main-card {
    height: 400px;
  }
}

@media (min-width: 991px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .main-card {
    height: 350px;
  }
}

@media (hover: hover) and (min-width: 600px) {
  .main-card:after {
    transform: translateY(0);
  }
  .main-card-content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .main-card-content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .main-card:hover,
  .main-card:focus-within {
    align-items: center;
  }
  .main-card:hover:before,
  .main-card:focus-within:before {
    transform: translateY(-4%);
  }
  .main-card:hover:after,
  .main-card:focus-within:after {
    transform: translateY(-50%);
  }
  .main-card:hover .main-card-content,
  .main-card:focus-within .main-card-content {
    transform: translateY(0);
  }
  .main-card:hover .main-card-content > *:not(.title),
  .main-card:focus-within .main-card-content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .main-card:focus-within:before,
  .main-card:focus-within:after,
  .main-card:focus-within .main-card-content,
  .main-card:focus-within .main-card-content > *:not(.title) {
    transition-duration: 0s;
  }
}

.card-body-goods {
  display: flex;
  flex-wrap: wrap;
}

.profile-description {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 50px;
}

.add-to-cart {
  width: 300px;
  font-size: 14px;
  margin-top: 80px;
}

.cart-btn {
  font-size: 25px;
  margin-left: 10px;
}

.profile-img {
  width: 45%;
}

.profile-description p {
  color: black;
  font-size: 14px;
}

.goods-cost span {
  font-size: 20px;
}

.small-images {
  display: flex;
  margin-top: 10px;
  width: 300px;
  height: 100px;
}

.small-img-card {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox__container {
  --fancybox-thumbs-width: 48px;
  --fancybox-thumbs-ratio: 1;

  --carousel-button-bg: rgb(91 78 76 / 74%);

  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;

  --carousel-button-svg-stroke-width: 2.5;
}

.fancybox__nav {
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
}

.fancybox__nav .carousel__button.is-prev {
  left: 20px;
}

.fancybox__nav .carousel__button.is-next {
  right: 20px;
}

.carousel__button.is-close {
  right: auto;
  top: 20px;
  left: 20px;
}

.fancybox__slide {
  padding: 8px 88px;
}

/* Thumbnails */
.fancybox__thumbs .carousel__slide {
  padding: 8px 8px 16px 8px;
}

.is-nav-selected::after {
  display: none;
}

.fancybox__thumb {
  border-radius: 6px;
  opacity: 0.4;
}

.fancybox__thumb:hover,
.is-nav-selected .fancybox__thumb {
  border-radius: 6px;
  opacity: 1;
}

.is-nav-selected .fancybox__thumb::after {
  display: none;
}

@media (max-width: 947px) {
  .profile-img {
    width: 100%;
  }

  .profile-description {
    width: 100%;
    align-items: center;
    margin: 30px;
  }

  .add-to-cart {
    width: 250px;
    margin-top: 20px;
  }
}

/* =========== main page =========== */

.wrapper {
  min-height: 95%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 1 auto;
}

.first-page {
  position: relative;
  top: -100px;
  display: flex;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-img-content {
  width: 60%;
  z-index: -9999;
}

.choice-item {
  width: 30%;
  height: 550px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.choice-item-content {
  position: absolute;
  width: 150%;
  text-align: end;
}

.choice-item-content h2 {
  font-size: 4.5vh;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.title-description {
  font-size: 1vw;
}

.second-img-content {
  width: 40%;
  height: auto;
}

hr {
  margin: 0.2rem 0;
}

.responsive-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0 0;
}

.brand-name {
  font-size: 10vw;
  color: #f2f2f2;
  font-family: "CormorantGaramond", serif;
}

.brand-image {
  width: 100%;
  height: auto;
}

.about_brand-section {
  width: 55%;
  height: auto;
}

.about_brand-section img {
  max-width: 100%;
  height: auto;
}

.shop-at-phones {
  display: none;
}

.footer {
  margin-top: 40px;
  background-color: #1e1e1e;
  color: white;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-footer {
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
}

.footer-brand h4 {
  font-family: "CormorantGaramond", serif;
}

.footer-brand p {
  font-size: 12px;
  color: #474747;
}

.links {
  color: white;
  font-size: 25px;
}

.links:hover {
  color: white;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  width: 25px;
  height: 25px;
  border-radius: 10px;
}

@media (max-width: 947px) {
  .choice-item-content {
    color: white;
    width: 300%;
  }

  .choice-item {
    top: -300px;
    position: absolute;
  }

  .choice-item button {
    display: none;
  }

  .second-img-content,
  .about_brand-section {
    display: none;
  }

  .choice-item-content h2 {
    font-size: 4vw;
  }

  .choice-item-content p {
    font-size: 2vw;
  }

  .main-img-content {
    width: 100%;
    height: 100%;
  }

  .shop-at-phones {
    display: block;
  }

  .carousel {
    display: none;
  }
}

.item-description {
  text-align: center;
}

.carousel {
  width: 80%;
  margin: 0 auto;
  height: 600px;
}

.carousel__slide img {
  width: 100%;
  height: auto;
}

/* =========== header navigation =========== */

header {
  margin-bottom: 100px;
}

.navbar {
  position: absolute;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar_scrolled {
  position: fixed;
  animation-name: fadeUp;
  animation-duration: 1s;
  background-color: white;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.5);
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__brand {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 2rem;
  transition: all 0.09s ease-out;
  font-family: "CormorantGaramond";
}

.navbar__nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar__nav li {
  display: inline-block;
}

.navbar__nav li a {
  padding: 12px;
  color: black;
  opacity: 0.7;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.09s ease-out;
}

.navbar__nav li a:hover {
  opacity: 1;
}

.bi-bag {
  z-index: -500;
}

.cart-counter {
  position: relative;
}

.total-items {
  line-height: 20px;
  width: 20px;
  height: 20px;
  opacity: 0%;
  text-align: center;
  background: #ffb800;
  border-radius: 50%;
  font-size: 11px;
  position: absolute;
  top: 33px;
  left: 25px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@media (max-width: 500px) {
  .navbar__brand {
    font-weight: 500;
    font-size: 1.2rem;
    align-items: center;
  }
}

/* =========== filter nav =========== */

.category-gallery {
  display: flex;
  flex-direction: column;
}

.filters-side {
  display: inline-block;
}

.filtration-nav ul {
  list-style-type: none;
}

.filtration-li {
  color: #c7c7c7;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}

.selected {
  color: black;
  background-size: 100% 2px;
  background-image: linear-gradient(currentColor, currentColor);
  margin: 0 10px;
}

.hide {
  display: none;
}

/* =========== order form =========== */

.form-space {
  width: 800px;
  margin: 10px auto;
}

.terms-link {
  text-decoration: underline;
}

.cart-card {
  width: 80%;
  overflow: hidden;
  display: flex;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 20px;
}

.cart-img {
  width: 45%;
  height: auto;
}

.cart-info {
  width: 200px;
  margin: 10px 0 0 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-total,
.cart-price {
  display: flex;
  justify-content: space-between;
}

#cart-nav {
  display: flex;
  justify-content: space-between;
}

.cart-cards {
  margin: 0 auto;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.cart-check {
  border-radius: 5px;
  align-self: flex-start;
  padding: 10px;
  background-color: #f2f2f2;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.check-description,
.check-footer {
  display: flex;
  justify-content: space-between;
}

.check-description {
  margin: 40px 0;
}

@media (max-width: 992px) {
  #cart-nav {
    flex-wrap: wrap;
  }

  .cart-cards,
  .cart-card {
    width: 100%;
  }

  .cart-info {
    padding-left: 10px;
  }

  .cart-check {
    margin: 20px 0;
    width: 100%;
  }
}

.cart-item-quantity span,
.cart-item-price b {
  margin-left: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

/* =========== admin table =========== */
.admin-table {
  text-align: center;
}

.admin-btns button,
.admin-btns a {
  display: block;
  width: 150px;
  border: 1px solid black;
}

.admin-btns {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

/* =========== admin goods =========== */

.cards-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.admin-card {
  height: auto;
  width: 600px;
  margin: 10px;
}

.admin-img {
  max-width: 102%;
  height: auto;
}

.admin-title {
  white-space: nowrap;
  overflow: scroll;
}

span b {
  color: red;
}

.card-head {
  display: flex;
  justify-content: space-between;
}

.card-head h5 {
  width: 250px;
}

.card-head a {
  color: blue;
}

/* =========== admin add new items =========== */

.content h3 {
  text-align: center;
}

.card-holder {
  margin: 50px auto 0 auto;
  width: 700px;
  height: 430px;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-img {
  border: 1px solid black;
  width: 300px;
  height: 430px;
  overflow: hidden;
}

.card-description {
  width: 395px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
}

@media (max-width: 1199px) {
  .admin-card {
    min-height: 620px;
    width: 300px;
    margin: 10px;
  }

  .admin-img {
    max-width: 300px;
    height: auto;
  }

  .card-body {
    width: 300px;
  }
}

.additional_images {
  width: 100%;
  height: 60px;
  display: flex;
}

@media (max-width: 375px) {
  .admin-card {
    min-height: 620px;
    width: 250px;
    margin: 10px;
  }

  .admin-img {
    max-width: 248px;
    height: auto;
  }
}
